@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --primary-color: blue;
    --button-color: #e783eb;

}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(25deg, #b5254c, #b0557b, #a079ad, #7b9ae1);
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;

}
.container{
    display: flex;
    flex-direction: column;
}
.container-board{
    background-color: rgb(20, 82, 20); 
    border: solid 0.5em;
    margin: 1em;
    padding: 1em;

    h3{
        color:white;
        margin:0;
        padding-bottom: 1em;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
    .score{
        background-color: rgb(46, 132, 182); 
        color:antiquewhite; 
        width: 6em;
        margin-bottom: 1em;
        text-align: center;
        border-radius: 1em;
        padding: 0.5em 0;
        margin-left: auto;
        font-weight: bold;

    }
    .task{
        margin-bottom: 1em;
        .badge{
            color: white;
            background-color: rgb(28, 31, 32);
            padding: 0.5em 1em;
            font-weight: bold;
        }

    }
}

.options-container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(25deg, #2a70ad, #4e869b, #609d87, #6bb571); 
    padding: 1em;
    margin: 0 1em;
    border-radius: 1em;
    
    .options-left{
        flex-direction: column;

        .options-group{
            margin-bottom: 1em;
            display: flex;
            gap: 0 1em;

        }
        
        button{
            width: 4em;
            padding: 0.5em 1em;
            border-radius: 2em;
            border: solid 1px var(--button-color);
            color: #4F0F0F;
            background-image: linear-gradient(113deg, #5700af, #9f4397, #d3787c, #ffad57);
            font-weight: bold;
            font-size: 1.1em;
            
            &:hover{
                border: solid 1px black;
                color: var(--button-color);
                background-color: black;
                cursor: pointer;
            }
        }
    }
    .options-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            // display:block; 
            height:50px; width:auto;
        }
    }
}